.usernav_sign{border-radius: 3px; padding: 2px 5px; text-decoration: none!important; color:#fff!important;}
.pf_sign{background:#76c4b0 url(../image/signin_2.png) no-repeat scroll left top;height: 64px; position: relative; width: 100%; overflow: hidden; margin-bottom: 10px;border-radius: 5px;}
.pf_signed{background:#76c4b0 url(../image/signin_0.png) no-repeat scroll left top;height: 64px; position: relative; width: 100%; overflow: hidden; margin-bottom: 10px;border-radius: 5px;}
.pf_sign:hover{background: #84cab8 url(../image/signin_2.png) no-repeat scroll left -80px;}
.pf_sign_link{display: block; height: 100%; position: absolute; width: 100%;} .pf_sign p,.pf_signed p{color: white; font-size: 12px; height: 12px; left: 150px; position: absolute; width: 60px;}
.pf_num{top: 10px;}
.pf_day{top: 32px;}
.tshuz_sign_main{width: 928px; border: 1px solid #e7e7e7; border-radius: 5px; padding: 20px 15px 5px 15px;margin-top:20px;margin-bottom:20px;background-color:#fff}
.tshuz_sign_main .lists{padding: 20px 0 5px 0;}
.tshuz_sign_main .lists_header{padding-left: 34px;}
.tshuz_sign_main .lists_header_div{float: left; margin-right: 60px;width: 58px;height: 48px; text-align: center;font-size: 12px; line-height: 22px; color: #909090; cursor: pointer;}
.tshuz_sign_main .lists_header_div_current{color: white; background: url(../image/signin_8.png)}
.tshuz_sign_main .tshuz_sign_main .lists{padding: 20px 0 5px 0;}
.tshuz_sign_main .tshuz_sign_main .lists_header{padding-left: 34px;}
.tshuz_sign_main .tshuz_sign_main .lists_header_div{float: left; margin-right: 60px;width: 58px;height: 48px; text-align: center;font-size: 12px; line-height: 22px; color: #909090; cursor: pointer;}
.tshuz_sign_main .tshuz_sign_main .lists_header_div_current{color: white; background: url(../image/signin_8.png)}
.tshuz_sign_main .list{height: 50px; border-bottom: 1px solid #f4f4f4;}
.tshuz_sign_main .list div{float: left; text-align: left; font-size: 12px; color: #909090; line-height: 50px;}
.tshuz_sign_main .list_0 div{color: #666666; font-weight: normal;}
.tshuz_sign_main .list:after{display: block;content: " 20";height: 0;clear: both;overflow: hidden;visibility: hidden;}
.tshuz_sign_main .list_div_0{width: 240px; padding-left: 40px; font-weight: bold;}
.tshuz_sign_main .list_div_1{width: 160px;}
.tshuz_sign_main .list_div_2{width: 180px;}
.tshuz_sign_main .list_div_3{width: 210px;}
.tshuz_sign_main .list_div_4{width: 80px;}
.tshuz_sign_main .pg{padding:15px 15px 5px 15px;}
.tshuz_sign_main .user_info{height: 70px; position: relative;padding-bottom: 20px;}
.tshuz_sign_main .signed{background: url(../image/signin_7.png) no-repeat left top;}
.tshuz_sign_main .sign{background: url(../image/signin_7_1.png) no-repeat left top;}
.tshuz_sign_main .sign:hover{background: url(../image/signin_7_2.png) no-repeat left top;}
.tshuz_sign_main .sign_link{display: block; position: relative; width: 138px; height: 70px;}